*.class
*.iml
target
.DS_Store
!cloud-static/src/main/resources/resources/js/localization/*.class
!cloud-static/src/main/resources/resources/js/localization/*.iml
!cloud-static/src/main/resources/resources/js/localization/target
!cloud-static/src/main/resources/resources/js/localization/.DS_Store
!cloud-static/src/main/resources/resources/css/src/business/cloud/*.class
!cloud-static/src/main/resources/resources/css/src/business/cloud/*.iml
!cloud-static/src/main/resources/resources/css/src/business/cloud/target
!cloud-static/src/main/resources/resources/css/src/business/cloud/.DS_Store
!cloud-static/src/main/resources/resources/css/src/business/*.class
!cloud-static/src/main/resources/resources/css/src/business/*.iml
!cloud-static/src/main/resources/resources/css/src/business/target
!cloud-static/src/main/resources/resources/css/src/business/.DS_Store
!cloud-static/src/main/resources/resources/css/src/*.class
!cloud-static/src/main/resources/resources/css/src/*.iml
!cloud-static/src/main/resources/resources/css/src/target
!cloud-static/src/main/resources/resources/css/src/.DS_Store
!cloud-static/src/main/resources/resources/img/src/business/cloud/icons-app/*.class
!cloud-static/src/main/resources/resources/img/src/business/cloud/icons-app/*.iml
!cloud-static/src/main/resources/resources/img/src/business/cloud/icons-app/target
!cloud-static/src/main/resources/resources/img/src/business/cloud/icons-app/.DS_Store
!cloud-static/src/main/resources/resources/img/src/business/cloud/*.class
!cloud-static/src/main/resources/resources/img/src/business/cloud/*.iml
!cloud-static/src/main/resources/resources/img/src/business/cloud/target
!cloud-static/src/main/resources/resources/img/src/business/cloud/.DS_Store
!cloud-static/src/main/resources/resources/img/src/business/*.class
!cloud-static/src/main/resources/resources/img/src/business/*.iml
!cloud-static/src/main/resources/resources/img/src/business/target
!cloud-static/src/main/resources/resources/img/src/business/.DS_Store
!cloud-static/src/main/resources/resources/img/src/*.class
!cloud-static/src/main/resources/resources/img/src/*.iml
!cloud-static/src/main/resources/resources/img/src/target
!cloud-static/src/main/resources/resources/img/src/.DS_Store
